.paper {
  padding: 20px;
}
.heading {
  font-size: 1.189rem;
  color: #c51162;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table thead tr {
  background: Green;
}
table thead tr th {
  color: #fff !important;
  text-transform: uppercase;
}
